Package: m4-dbgsym
Source: m4
Version: 1.4.18-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Santiago Vila <sanvila@debian.org>
Installed-Size: 151
Depends: m4 (= 1.4.18-2)
Section: debug
Priority: optional
Description: debug symbols for m4
Build-Ids: 9b619f33c39ec0a54b66247a076bf9d29d4954d1
