Package: m4-doc
Source: m4
Version: 1.4.18-2
Architecture: all
Maintainer: Santiago Vila <sanvila@debian.org>
Installed-Size: 914
Section: doc
Priority: optional
Homepage: http://www.gnu.org/software/m4/
Description: Documentation for GNU m4
 This package contains the HTML documentation for GNU m4.
